@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    margin: 0px;
    padding: 0px;

}
#principal{
    height: 100px;
    background-color: #303030;

}

#principal div a{
    font-family: 'inter';
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;

}